.App {
  text-align: center;
  position: relative;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* Year Input field */
.input_year {
  outline: none;
  border-radius: 20px;
  padding: 9px 20px;
  position: absolute;
  top: 30px;
  right: 30px;

  background-color: #fff;
  border: 1px solid rgba(10, 68, 2, 0.438);
}

.input_year:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223,225,229,0);
}

/* Calender CSS */
.table_days {
  border: 1px solid #ccc;
  background-color: #5ad5f9c7;
  width: 30%;
  float: left;
  margin-bottom: 50px;
}
.leftMargin {
  margin-left: 20%;
}
.rightMargin {
  margin-right: 20%;
}
.days_header {
  text-align: center;
  background: orangered;
  color: white;
  height: 78px;
}
.days_cell {
  height: 30px;
  width: 35px;
  border: 1px solid #554f4f;
}
.addBackg {
  background-color: #fff;
  color: #000;
}
.colorRed {
  color: red;
}
.my_headerSpan {
  display: block;
  margin: 5px auto;
}
.lgFontSize {
  font-size: 36px;
}
/* Calender css ends */
